body{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    text-align: center;
}

.div-login {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.div-login h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


.botao {
    width: 100%;
    padding: 10px;
    background-color: #2596c3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #56a3f0;
}

.home{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-titulo{
    color: #6895c3;
}

.link{
    text-decoration: none;
    color: #2596c3;
}

.link:hover{
    color: #013262;
}